matplotlib
seaborn
pandas
girder-client
Pillow
numpy
scikit-image
imageio
rasterio
scikit-learn
torch
torchaudio
torchvision
torchmetrics
tqdm
scipy
opencv-python
albumentations
segmentation-models-pytorch
pyarrow